<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,498},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>house0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{200,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,114}}</string>
                <key>sourceSize</key>
                <string>{200,114}</string>
            </dict>
            <key>house1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,194},{130,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,99}}</string>
                <key>sourceSize</key>
                <string>{130,99}</string>
            </dict>
            <key>house10.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{134,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,89}}</string>
                <key>sourceSize</key>
                <string>{134,89}</string>
            </dict>
            <key>house11.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,93},{130,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,99}}</string>
                <key>sourceSize</key>
                <string>{130,99}</string>
            </dict>
            <key>house12.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,295},{155,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,191}}</string>
                <key>sourceSize</key>
                <string>{155,191}</string>
            </dict>
            <key>house13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{129,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,159}}</string>
                <key>sourceSize</key>
                <string>{129,159}</string>
            </dict>
            <key>house2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,498},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>house3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{487,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,202}}</string>
                <key>sourceSize</key>
                <string>{487,202}</string>
            </dict>
            <key>house4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,620},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>house5.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,951},{255,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,54}}</string>
                <key>sourceSize</key>
                <string>{255,54}</string>
            </dict>
            <key>house6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{541,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,290}}</string>
                <key>sourceSize</key>
                <string>{541,290}</string>
            </dict>
            <key>house7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{128,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,168}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>house8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,586},{115,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,16}}</string>
                <key>sourceSize</key>
                <string>{115,16}</string>
            </dict>
            <key>house9.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,488},{155,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,130}}</string>
                <key>sourceSize</key>
                <string>{155,130}</string>
            </dict>
            <key>scene10.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{338,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,276}}</string>
                <key>sourceSize</key>
                <string>{338,276}</string>
            </dict>
            <key>scene20.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,280},{290,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,267}}</string>
                <key>sourceSize</key>
                <string>{290,267}</string>
            </dict>
            <key>smoke10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{129,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,159}}</string>
                <key>sourceSize</key>
                <string>{129,159}</string>
            </dict>
            <key>smoke20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>smoke30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arrow.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:657964b5c731e730db1fdf9645d4198c:1/1$</string>
            <key>textureFileName</key>
            <string>arrow.png</string>
        </dict>
    </dict>
</plist>
