<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ch_tutorial_finger010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,124}}</string>
                <key>sourceSize</key>
                <string>{115,124}</string>
            </dict>
            <key>ch_tutorial_finger011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{40,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,115}}</string>
                <key>sourceSize</key>
                <string>{40,115}</string>
            </dict>
            <key>ch_tutorial_finger012.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,128},{54,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,81}}</string>
                <key>sourceSize</key>
                <string>{54,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99905451da038baf3f040d54d680410c$</string>
            <key>textureFileName</key>
            <string>ch_tutorial-hd.png</string>
        </dict>
    </dict>
</plist>
