<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop01_movie-clip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,157}}</string>
                <key>sourceSize</key>
                <string>{72,157}</string>
            </dict>
            <key>prop01_movie-clip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>prop01_movie-clip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>prop01_movie-clip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>prop01_movie-clip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,161},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a34e49edb213bbd0dda587dbcca53677$</string>
            <key>textureFileName</key>
            <string>prop01-hd.png</string>
        </dict>
    </dict>
</plist>
