<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop02_movie-clip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>prop02_movie-clip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>prop02_movie-clip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{9,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,7}}</string>
                <key>sourceSize</key>
                <string>{9,7}</string>
            </dict>
            <key>prop02_movie-clip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{9,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,7}}</string>
                <key>sourceSize</key>
                <string>{9,7}</string>
            </dict>
            <key>prop02_movie-clip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{9,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,6}}</string>
                <key>sourceSize</key>
                <string>{9,6}</string>
            </dict>
            <key>prop02_movie-clip13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{9,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,5}}</string>
                <key>sourceSize</key>
                <string>{9,5}</string>
            </dict>
            <key>prop02_movie-clip14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{9,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,5}}</string>
                <key>sourceSize</key>
                <string>{9,5}</string>
            </dict>
            <key>prop02_movie-clip15.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,84},{9,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,4}}</string>
                <key>sourceSize</key>
                <string>{9,4}</string>
            </dict>
            <key>prop02_movie-clip16.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,84},{9,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,4}}</string>
                <key>sourceSize</key>
                <string>{9,4}</string>
            </dict>
            <key>prop02_movie-clip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,84},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>prop02_movie-clip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,84},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>prop02_movie-clip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,84},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>prop02_movie-clip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,84},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>prop02_movie-clip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,84},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>prop02_movie-clip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,84},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>prop02_movie-clip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,84},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>prop02_movie-clip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec4d14db3fa8cdfb9bca481dcaf7e8d$</string>
            <key>textureFileName</key>
            <string>prop02-hd.png</string>
        </dict>
    </dict>
</plist>
