<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop01_movie-clip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,79}}</string>
                <key>sourceSize</key>
                <string>{36,79}</string>
            </dict>
            <key>prop01_movie-clip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>prop01_movie-clip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>prop01_movie-clip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>prop01_movie-clip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,83},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f20c881c2cc1b815fdb715ff2a541e59$</string>
            <key>textureFileName</key>
            <string>prop01.png</string>
        </dict>
    </dict>
</plist>
