<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop01_movie-clip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,314}}</string>
                <key>sourceSize</key>
                <string>{144,314}</string>
            </dict>
            <key>prop01_movie-clip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{32,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,54}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>prop01_movie-clip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>prop01_movie-clip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>prop01_movie-clip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17059cb05b29e33caa77b4003ab2229e$</string>
            <key>textureFileName</key>
            <string>prop01-ipadhd.png</string>
        </dict>
    </dict>
</plist>
